<h1>Product List</h1>

<ul class="thumbnails">
<% @products.each do |product| %>
  <li class="span3">
    <div class="thumbnail">
      <img src='<%= image_path("#{product.image}") %>'/>
	  <h3><%= link_to product.name, product_path(product) %></h3>
	  <p>Gabbi's price: <%= product.price %></p>
	  <p>
	  <form>
	    <input type="submit" name="submit" class="btn btn-primary" value="Add to cart"/>
	  </form>
	  
	  </p>
    </div>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Product', new_product_path %>
